body {
    margin: 0;
    overflow: hidden;
    background-color: #FFD700;
    transition: background-color 1s ease;
}
.contenedor-botones {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: transparent; /* Fondo completamente transparente */
    z-index: 999; /* Por si hay otros elementos delante */
}

.botones {
    background-color: transparent;
    border: none;
    width: 99px;
    height: 99px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
}

.botonesImg {
    width: 100%;
    height: auto;
    opacity: 1;
}


#Dino {
    position: absolute;
    top: 500px;
    height: auto;
    width: 150px;
    left: 500px;
    transition: transform 1s;
}

#tiempoDisplay {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: Arial;
    font-size: 24px;
    color: #333;
    text-shadow: 1px 1px 2px rgba(255,255,255,0.7);
    transition: color 2s;
}