/* Menu desplegable */
#header {
    margin:auto;
    width:5000px;
    font-family:Arial, Helvetica, sans-serif;
}
ul, ol {
    list-style:none;
}
.nav > li {
    float:left;
}
.nav li a {
    background-color:var(--colorMenuStatico);
    text-decoration:none;
    padding:10px 12px;
    display:block;
}
.nav li a:hover {
    background-color:var(--color);
}
.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}
.nav li:hover > ul {
    display:block;
}
.nav li ul li {
    position:relative;
}
.nav li ul li ul {
    right:-140px;
    top:0px;
}
/* Estilos del menu */
.Dificultad, .botonVisible{
    border: 1px solid black;
    font-size: 25px;
}
#facil{
    background-color: aqua ;
}
#normal{
    background-color: greenyellow;
}
#dificil{
    background-color:orange;
}
#imposible{
    background-color: red;
}
.botonVisible{
    background-color: rgba(108, 55, 255, 0.841);
    padding: 10px;
    color: rgb(116, 219, 164);
}
.Dificultad:hover{
    color: white;
}